<!-- User Page -->
{% extends "header.html" %}
{% block content %}
<div class="main-container">
  <!-- <div class="decoration-main-container"><div class="decoration-main"></div></div> -->
  <h2 class="main-title">Bored?</h2>

  <!-- <h1>{{ username }}'s Reviews</h1> -->
  <h1>Username's Reviews</h1>
    
  <!-- {% set count = reviews|length %} -->
  <!-- <p>Number of Reviews: {{ count }}</p> -->
  <p>Number of Reviews: count</p><br>

  <table style="border: 1px solid #FFF">
      <tr style="border: 1px solid #FFF">
          <th style="border: 1px solid #FFF">Date</th>
          <th style="border: 1px solid #FFF">Activity</th>
          <th style="border: 1px solid #FFF">Content</th>
      </tr>
      <tr style="border: 1px solid #FFF">
          <td style="border: 1px solid #FFF">date</td>
          <td style="border: 1px solid #FFF">activity</td>
          <td style="border: 1px solid #FFF">content</td>
      </tr>
      <tr style="border: 1px solid #FFF">
        <td style="border: 1px solid #FFF">date</td>
        <td style="border: 1px solid #FFF">activity</td>
        <td style="border: 1px solid #FFF">content</td>
      </tr>
      <tr style="border: 1px solid #FFF">
        <td style="border: 1px solid #FFF">date</td>
        <td style="border: 1px solid #FFF">activity</td>
        <td style="border: 1px solid #FFF">content</td>
      </tr>
  </table><br>

  <h1>Favorites</h1><br>
  <!-- first favorite -->
  <div class="recommended-row">
    <div class="recommended-content">
        <center>
            activity 1
            <br><br>
            <a class="activity-links" href="{{ url_for('activities.reviewAnActivity')}}">
            add a review
            </a>
          </center>
        
          <br>
          <ul>
            <li><strong>Type:</strong> activity 1 type </li>
            <li><strong>Participants:</strong> activity 1 participants </li>
            <li><strong>Price:</strong> activity 1 price </li>
            <li><strong>Duration:</strong> activity 1 duration </li>
            <li><strong>Kid Friendly:</strong> activity 1 kid friendly </li>
            <li><strong>Link:</strong> activity 1 link </li>
          </ul>
      </div>
      <!-- second favorite -->
      <div class="recommended-content">
        <center>
            activity 2
            <br><br>
            <a class="activity-links" href="{{ url_for('activities.reviewAnActivity')}}">
            add a review
            </a>
          </center>
        
          <br>
          <ul>
            <li><strong>Type:</strong> activity 2 type </li>
            <li><strong>Participants:</strong> activity 2 participants </li>
            <li><strong>Price:</strong> activity 2 price </li>
            <li><strong>Duration:</strong> activity 2 duration </li>
            <li><strong>Kid Friendly:</strong> activity 2 kid friendly </li>
            <li><strong>Link:</strong> activity 2 link </li>
          </ul>
      </div>
      <!-- third favorite -->
      <div class="recommended-content">
        <center>
            activity 3
            <br><br>
            <a class="activity-links" href="{{ url_for('activities.reviewAnActivity')}}">
            add a review
            </a>
          </center>
        
          <br>
          <ul>
            <li><strong>Type:</strong> activity 3 type </li>
            <li><strong>Participants:</strong> activity 3 participants </li>
            <li><strong>Price:</strong> activity 3 price </li>
            <li><strong>Duration:</strong> activity 3 duration </li>
            <li><strong>Kid Friendly:</strong> activity 3 kid friendly </li>
            <li><strong>Link:</strong> activity 3 link </li>
          </ul>
      </div>
  </div><br>
</div>
{% endblock %}