{% extends "header.html" %} {% block content %}
{% if error %}
    <b class="text-red-400" role="alert">
        {{ error }}
    </b>
{% endif %}
<div class="container mx-auto w-full md:w-2/3 lg:w-1/3">
    {% set count = reviews|length %}
    <p>Number of Reviews: {{ count }}</p>
    
    <table style="border: 1px solid #FFF">
        <tr style="border: 1px solid #FFF">
            <th style="border: 1px solid #FFF">Date</th>
            <th style="border: 1px solid #FFF">Movie</th>
            <th style="border: 1px solid #FFF">Content</th>
        </tr>
        {% for review in reviews %}
            <tr style="border: 1px solid #FFF">
                <td style="border: 1px solid #FFF">{{ review.date }}</td>
                <td style="border: 1px solid #FFF">{{ review.movie_title }}</td>
                <td style="border: 1px solid #FFF">{{ review.content }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}