<!-- Activity Page -->

{% extends "header.html" %} {% block content %}
<div class="main-container">
  <div class="decoration-main-container"><div class="decoration-main"></div></div>
  <h2 class="main-title"> Bored? </h2>
  <!--
    - pull the information from the interest form from the home page and display info of the activity
    - add a button that automatically generates a new avtivity within the same activity type and group amt
    - review button for that activity: leads to the review form
  -->

</div>
{% endblock %}