{% extends "base.html" %} {% block header %}
<nav class="navbar flex w-full justify-between z-40">
    <a id="icon" href="{{ url_for('activities.index') }}">
        <!-- <span class="hidden sm:block">booringgg</span>
        <span class="block sm:hidden">Home</span> -->
        <img src="{{ url_for('static', filename='icon/booringggAppIcon.png') }}" alt="Home" width="125" height="125"/>
    </a>
    {% if current_user.is_authenticated %}
    <div>
        <a class="my-5 mr-5 ml-0 navlink" href="{{ url_for('users.account') }}">Account</a>
        <a class="my-5 mr-5 ml-0 navlink !bg-red-400/20 hover:!bg-red-500/50 !text-red-400 hover:!text-red-300" href="{{ url_for('users.logout') }}">Logout</a>
    </div>
    {% else %}
    <div>
        <a class="my-5 mr-5 ml-0 navlink" href="{{ url_for('users.login') }}">Login</a>
        <a class="my-5 mr-5 ml-0 navlink" href="{{ url_for('users.register') }}">Register</a>
    </div>
    {% endif %}
</nav>
{% block content %}{% endblock %}{% endblock %}