<!-- Home Page: Interests Form -->
{% extends "header.html" %}
{% block content %}
<div class="main-container">
  <div class="decoration-main-container"><div class="decoration-main"></div></div>
  <h2 class="main-title">Find an Activity</h2>

  <form method="POST" class="searchbar">
    {{ form.csrf_token }}

    <p>{{ form.query_type.label }}</p>
    {{ form.query_type(class="form-check-input") }}

    <div id="filters">
      <p>Types:</p>
      {{ form.education() }} {{ form.education.label }}<br>
      {{ form.recreational() }} {{ form.recreational.label }}<br>
      {{ form.social() }} {{ form.social.label }}<br>
      {{ form.charity() }} {{ form.charity.label }}<br>
      {{ form.cooking() }} {{ form.cooking.label }}<br>
      {{ form.relaxation() }} {{ form.relaxation.label }}<br>
      {{ form.busywork() }} {{ form.busywork.label }}<br>

      <p>{{ form.participants.label }}</p>
      {{ form.participants(class="form-control") }}
    </div>

    {{ form.submit(class="form-button") }}
  </form>

  {% if activity %}
    <div class="activity-result">
      <h3>Try this:</h3>
      <p>{{ activity.activity }}</p>
    </div>
  {% endif %}
</div>
{% endblock %}
